body {
    background-color:pink;
}
footer{
    background-color:black
    color: white;
    position: fixed;
    bottom: 0;
    width: 100;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    height: 2rem;
}